html, body {
  font-family: 'Jura', sans-serif;
  height: 100%;
  margin: 0;
  text-align: center;
}

#head-box {
  background-color: #EEE;
  height: 15%;
  width: 100%;
}

#head-box #page-title {
  color: #444;
  font-size: 4vw;
  height: 10%;
  line-height: 1.7em;
  margin: auto;
  text-align: center;
}

#body-box {
  background-color: #EEE;
  height: 70%;
  width: 100%;
}

#body-box #planner-box {
  background-color: #EEE;
  display: inline-block;
  float: left;
  height: 100%;
  margin-left: 2%;
  width: 31%;
}

#body-box #planner-box #days {
  background-color: #EEE;
  margin: auto;
  position: relative;
  top: 5.5vh;
  width: 18.5vh;
  z-index: 1;
}

#body-box #planner-box #days .day {
  cursor: pointer;
  display: inline-block;
  font-size: 3vh;
}

#body-box #planner-box #days .active-day {
  color: #00BCD4
}

#body-box #planner-box #daily-workout {
  background-color: #EEE;
  border: 1px solid black;
  height: 80%;
  left: 7.5%;
  overflow-y: auto;
  padding-bottom: 1px;
  position: relative;
  top: 5.5%;
  width: 85%;
}

#body-box #planner-box #daily-workout #workout-list {
  list-style: none;
  padding: 0;
  width: 100%;
}

#body-box #planner-box #daily-workout #workout-list li {
  background-color: #E7E7E7;
  box-shadow: 1px 1px 1px 1px rgba(110, 110, 110, 0.4);
  margin: auto;
  width: 90%;
}

#body-box #planner-box #daily-workout #workout-list li h3 {
  color: #333;
  margin: .5em 0;
}

#body-box #planner-box #daily-workout #workout-list li button {
  margin-bottom: .5em;
}

#body-box #diagram-box {
  display: inline-block;
  height: 100%;
  padding: 1px;
  width: 31%;
}

#body-box #muscle-group-box {
  display: inline-block;
  float: right;
  height: 90%;
  padding-right: 3vw;
  padding-top: 2vw;
  width: 27%;
}

#body-box #muscle-group-box #muscle-name {
  color: #333;
  font-size: 2.5vw;
  height: 14%;
  margin: 0 auto;
  text-align: center;
  text-decoration: underline;
}

#body-box #muscle-group-box #exercise-list {
  height: 76%;
  list-style: none;
  margin: 0;
  overflow-y: auto;
  padding: 0 0 0 2vw;;
  width: 95%;
}

#body-box #muscle-group-box #exercise-list li {
  background-color: #E7E7E7;
  box-shadow: 1px 1px 1px 1px rgba(110, 110, 110, 0.4);
  margin-right: .4em;
}

#body-box #muscle-group-box #exercise-list li h3 {
  color: #333;
  font-size: 1.9vw;
  margin: .4em auto;
}

#body-box #muscle-group-box #exercise-list li p {
  color: #333;
  font-size: 1.5vw;
  margin: .4em;
  text-align: justify;
}

#body-box #muscle-group-box #exercise-list li button {
  margin-bottom: .4em;
}

#foot-box {
  background-color: #EEE;
  display: inline-block;
  height: 15%;
  width: 100%;
}

#foot-box #finish {
  background: #EEE;
  border: none;
  color: #444;
  font-family: 'Jura', sans-serif;
  font-size: 23px;
  font-weight: bold;
  position: relative;
  top: 2em;
}

#foot-box #finish:hover {
  color: #222;
  cursor: pointer;
  text-shadow: 0 0 1px #222;
}

svg g path {
  opacity: .2;
  transition: opacity .25s ease-in-out;
}

svg g g:hover path {
  cursor: pointer;
  fill: #00BCD4 !important;
  opacity: .5;
}

button {
  background-color: #DDD;
  color: #444;
  font-family: 'Jura', sans-serif;
}
