html, body {
  background-color: #EEE;
  font-family: 'Jura', sans-serif;
  height: 100%;
  margin: 0;
  text-align: center;
}

#head-box {
  background-color: #EEE;
  height: 15%;
  width: 100%;
}

#head-box #page-title {
  color: #444;
  font-size: 4vw;
  height: 10%;
  line-height: 1.7em;
  margin: auto;
  text-align: center;
}

#body-box {
  background-color: #EEE;
  float: left;
  width: 100%;
}

#body-box #workouts-table {
  margin: 4vw auto;
  width: 90%;
}

#body-box #workouts-table thead #top-row {
  overflow-x: auto;
  text-decoration: underline;
}

#body-box #workouts-table thead #top-row th  {
  color: #444;
  font-size: 1.5vw;
  text-align: center;
  width: 1.5vw;
}

#body-box #workouts-table tbody tr td {
  color: #444;
  font-size: 1.5vw;
  text-align: center;
  width: 1.5vw;
}

#body-box #workouts-table tbody tr:nth-child(2n+1) {
  background-color: #DDD;
}

#body-box #workouts-table tbody tr:nth-child(2n) {
  background-color: #CCC;
}

#body-box #workouts-table tbody #inputs-row .workout-input .reps {
  background-color: #EFEFEF;
  border: none;
  color: #444;
  font-family: 'Jura', sans-serif;
  font-size: 1vw;
  margin-bottom: 4px;
  width: 1.9em;
}

#foot-box {
  background-color: #EEE;
  display: inline-block;
  height: 80px;
  line-height: 80px;
  width: 100%;
}

#foot-box #finish {
  background: #EEE;
  border: none;
  color: #444;
  font-family: 'Jura', sans-serif;
  font-size: 23px;
  font-weight: bold;
}

#foot-box #finish:hover {
  color: #222;
  cursor: pointer;
  text-shadow: 0 0 1px #222;
}
